body {
  display: flex;
  flex-direction: row;
}

.container {
  width: 30%;
  border: 1px dashed forestgreen;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}